.game-container{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    >header{        
        display: flex;
        justify-content: space-between;
        align-items: stretch;
        position: relative;
        >nav{            
            position: absolute;
            top: 100%;
            left: 8%;
            display: none;
            flex-direction: column;
            flex-wrap: nowrap;
            justify-content: center;
            align-items: flex-start;
        }
    }
    >#canvas{
        width: 100%;
    }
}