body {
    padding: 0px;
    margin: 0px;

    [type=button],
    [type=reset],
    [type=submit],
    button {
        -webkit-appearance: button;
    }

    button,
    select {
        text-transform: none;
    }

    button,
    input,
    optgroup,
    select,
    textarea {
        margin: 0;
        font-family: inherit;
        font-size: inherit;
        line-height: inherit;
    }

    *,
    ::after,
    ::before {
        box-sizing: border-box;
    }

    [type=button]:not(:disabled),
    [type=reset]:not(:disabled),
    [type=submit]:not(:disabled),
    button:not(:disabled) {
        cursor: pointer;
    }

    [hidden] {
        display: none !important;
        visibility: hidden !important;
    }

    .g-btn {
        font-weight: bold;
        font-size: .625rem;
        height: 24px;
        display: inline-block;
        padding: 3px 5px;
        text-align: center;
        border-radius: .25rem;
        background-color: #19e716d4;
        border: 1px solid #a79c9c;
        background-image: linear-gradient(0deg, #2637d9a6, #00f1d06b);

        &.g-right {
            position: absolute;
            right: 0px;
            padding: 3px 4px;
            top: 0;
            bottom: 0;
            height: 24px;
            margin: auto;
        }

        &.g-blue {
            background-color: #fdf7f6;
        }

        &.g-blue2 {
            color: #fff;
            background-color: #3718df;
        }

        &.g-red {
            color: #fff;
            background-color: #b7778d;
            background-image: linear-gradient(0deg, #ef2004a6, #ab3d606b);
        }
    }

    >div {
        >.container {
            width: 1000px;
            max-width: 95%;
            margin: 0px auto;
        }

    }

    .no-select {

        *,
        & {
            -webkit-user-select: none;
            user-select: none;
            touch-action: none;
        }
    }

    .add-home-app {
        position: fixed;
        top: auto;
        bottom: 0px;
        left: 0;
        right: 0;
        margin: auto;
        height: 32px;
        background-color: #000;
        color: #fff;
        z-index: 99999;
    }

    .p-1 {
        padding: .675rem;
    }
}







body {
    >.g-header {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 10;
        background-image: linear-gradient(180deg, #0089ff, #0089ffb5, #0089ffb5, #0089ff82, #0089ff38);
        border-bottom: 1px solid #00c4ff;

        >.container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-direction: row;
            flex-wrap: nowrap;
            height: 32px;

            >.MenuBtn {
                border: 0;
                width: 2rem;
                height: 2rem;
                position: relative;
                display: flex;
                align-items: center;
                justify-content: center;
                color: #1e293b;
                border-color: transparent;
                padding: 0 0;
                font-size: 1rem;
                line-height: 1;
                background-color: transparent;
                border-radius: 4px;
                transition: box-shadow .15s ease-in-out;

                .g-menu-icon {
                    color: #1e293b;
                    border-color: rgba(0, 0, 0, .1);
                    height: 2px;
                    width: 1.25em;
                    background: currentColor;
                    border-radius: 10px;
                    position: relative;
                    display: inline-block;
                    vertical-align: middle;

                    &:after,
                    &:before {
                        content: "";
                        display: block;
                        height: inherit;
                        width: inherit;
                        border-radius: inherit;
                        background: inherit;
                        position: absolute;
                        left: 0;
                        transition: inherit;
                    }

                    &:before {
                        top: -.45em;
                    }

                    &:after {
                        bottom: -.45em;
                    }
                }

                &.active {
                    .g-menu-icon {
                        transform: rotate(45deg);
                        transition: top .3s, bottom .3s, transform .3s .3s, opacity 0s .3s;

                        &:before {
                            top: 0;
                            transform: rotate(-90deg);
                        }

                        &:after {
                            bottom: 0;
                            opacity: 0;
                        }
                    }
                }
            }

            >.g-menu-list {
                position: fixed;
                top: 33px;
                left: 0;
                right: 0;
                bottom: 0;
                height: 0%;
                width: 0px;
                opacity: 0;
                max-width: 100%;
                margin: auto;
                padding: 0px 20px;
                z-index: 9999;
                background-color: #fff;
                overflow: hidden;
                overflow-y: auto;

                .g-list {
                    >div {
                        cursor: pointer;
                        padding: 3px;
                        margin: 5px 2px;

                        >h3 {
                            margin: 0px 0px 10px;
                        }

                        >ul {
                            margin: 0px 0px 10px;

                            >li {
                                margin: 0px 0px 10px;
                            }
                        }
                    }

                }

            }

            >.MenuBtn.active~.g-menu-list {
                width: 1000px;
                height: calc(100% - 32px);
                opacity: 1;
                overflow-y: auto;
            }

            >*[class^=g-btn-] {
                cursor: pointer;
                height: 24px;
                width: 24px;
                background-size: cover;
                border-radius: 50%;
            }

            .g-btn-sys {
                background-image: url(../../images/menu.png);
            }

            .g-btn-forward {
                background-image: url(../../images/hotkey_forward.png);
            }

            .g-btn-hide {
                background-image: url(../../images/hotkey_show.png);
            }

            .g-btn-hide:not([hidden])~div[class^=g-btn-] {
                display: none;
            }

            .g-btn-addContent {
                background-image: url(../../images/hotkey_digital.png);
            }
        }
    }

    >.g-main {
        position: fixed;
        top: 33px;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1;

        >.container {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            overflow: hidden;
            overflow-y: auto;
            max-width: 100%;
            z-index: 1;
        }
        >.g-start-ui {
            background: #d1d1d1;

            #gitalk-container {
                padding: 10px;
            }

            .system-cores-list {
                h4 {
                    margin: 2px;
                }

                p {
                    font-size: .675rem;
                    margin: 1px;
                }

                >h3 {

                    text-indent: 1rem;

                }

                >ul {
                    display: flex;
                    padding: 2px;
                    margin: 2px auto;
                    flex-wrap: wrap;
                    align-items: flex-start;

                    >li {
                        border: 1px solid #687778;
                        list-style: none;
                        padding: 5px;
                        margin: 5px 5px 5px auto;
                        display: inline-block;
                        min-width: 280px;
                        max-width: 100%;
                        flex-grow: 1;

                        >h4[data-act] {
                            text-align: center;
                        }

                        ul {

                            list-style: none;
                            padding: 5px;
                            display: flex;
                            flex-wrap: wrap;

                            li {
                                background: #e7e3e3;
                                border: 1px solid #fff;
                                padding: 5px;
                                margin: 5px;
                            }
                        }
                    }
                }

            }

        }

        >.g-game-ui {
            opacity: 1;
            width: unset;
            background-color: #000;
            overflow: hidden;
            z-index: 1;
                    width: 100%;
                    max-width: unset;

            .g-mobile-click {
                position: absolute;
                width: 100%;
                height:100%;
                font-size: 1rem;
                line-height: 100vh;
                left: 0;
                right: 0;
                bottom: 0;
                top: 0;
                margin: auto;
                z-index: 9999;
            }
>.g-game-welcome {
                    position: absolute;
                    text-align: center;
                    top: 1rem;
                    left: 1rem;
                    right: 1rem;
                    bottom: 1rem;
                    overflow: hidden;
                    overflow-y: auto;
                    background-color: #f3f3f3cc;
                    color: #000;
                    margin: auto;
                    z-index: 9;
                    font-size: .675rem;

                    ul {
                        text-align: left;
                    }

                    p {
                        margin: 1px;
                    }

                    h2 {
                        background: #62696e;
                        color: #fff;
                    }

                    >.g-status p,
                    >.g-FS-log p {
                        text-align: left;
                        padding-left: 2rem;
                    }

                    >.g-rooms {
                        .flex {
                            display: flex;
                            display: flex;
                            justify-content: center;
                            flex-wrap: wrap;
                            align-items: stretch;

                            button {
                                margin: 4px;
                                padding: 4px;
                                height: unset;
                                font-size: .875rem;

                                b {
                                    font-variant: petite-caps;
                                }
                            }
                        }

                        li {
                            margin-bottom: 5px;
                        }
                    }

                    >.g-bios {
                        font-size: .675rem;

                        .flex {
                            display: flex;
                            justify-content: center;
                            flex-wrap: wrap;

                            button {
                                margin: 1px 3px;
                            }
                        }

                    }

                    .g-right {
                        width: unset;
                        padding: 3px 5px;
                    }

                    >h3 {
                        padding: 5px;
                        margin: 0px auto 20px;
                        text-align: left;
                        position: relative;
                        padding-left: 1rem;
                        right: 0px;
                    }

                    .g-game-welcome-result {
                        font-size: .625rem;
                        text-align: left;
                        padding: 5px;

                        >div {
                            margin: 0px auto 15px;
                            text-align: left;
                            position: relative;
                            padding-right: 60px;
                        }
                    }
                }
            .g-mobile-click:not([hidden])~.game-container {
                pointer-events: none;
            }


                
            .game-container {
                text-align: center;

                >#canvas {
                    width: 100% !important;
                    height: 100% !important;
                    top: 0px;
                    left: 0;
                    right: 0;
                    bottom: auto;
                    margin: 0px auto !important;
                    z-index: 1;
                }

                .game-controller {
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    flex-wrap: nowrap;
                    align-items: stretch;
                    button{
                        background: transparent;
                        border: 1px solid #6e6161;
                        color: #000000;
                        background: #ffffff45;
                        outline: none;
                        position: absolute;
                    }
                    .g-dp{
                        position: absolute;
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: flex-start;
                        align-items: stretch;
                        flex-direction: row;
                    }
                    .g-left,
                    .g-right {
                        position: relative;
                        width: 50%;
                        flex-grow: 1;

                    }
                    @media screen and (orientation: portrait) and (max-width:800px) {
                        height:min(100vw,400px);
                        .g-dp{
                            margin: auto;
                            top: 0;
                            bottom: 0;
                            left: calc((100% - min(50vw,180px))/2);
                            width: min(50vw,180px);
                            height: min(50vw,180px);
                            button{
                                position: relative;
                                margin: 1px;                            
                                text-align: center;
                                padding: 0px;
                                line-height: 1.5;
                                border-radius: 5px;
                                width:calc(33% - 4px);height:calc(33% - 4px);
                            }
                            .key-left-null{
                                width: calc(33% - 2px);
                                height: calc(33% - 2px);
                                border: none;
                                background: transparent;
                            }
                            .key-right-x,
                            .key-right-y,
                            .key-right-a,
                            .key-right-b{
                                border-radius: 50%;
                            }
                            .key-right-x{
                                margin: 0px 33%;
                            }
                            .key-right-a{
                                margin: 15% 10% 0px 56%;
                            }
                            .key-right-b{
                                margin: 0% 46% 15% 20%;
                            }
                            .key-right-y~.key-right-a{
                                margin:0px 0px 0px 33%;
                            }
                            .key-right-y~.key-right-b{
                                margin: 0px 33%;
                            }
                        }
                        .key-l{
                            left:1vw;
                            top: 1vw;
                            width:20vw;
                            border-radius: 5px;
                        }
                        .key-r{
                            right: 1vw;
                            top: 1vw;
                            width:20vw;
                            border-radius: 5px;
                        }
                        .key-start{
                            left: 1vw;
                            bottom: 1vw;
                            width:20vw;
                            border-radius: 5px;
                        }
                        .key-select{
                            right: 1vw;
                            bottom: 1vw;
                            width:20vw;
                            border-radius: 5px;
                        }
                    }
                    @media screen and (orientation: landscape) and (max-height:800px) {
                        position: absolute;
                        top:0;
                        left: 0;
                        bottom: 15vh;
                        right: 0;
                        .g-dp{
                            margin: auto;
                            top: 0;
                            bottom: 0;
                            left: 2vh;
                            width: min(50vh,180px);
                            height: min(50vh,180px);
                            button{
                                position: relative;
                                margin: 1px;                            
                                text-align: center;
                                padding: 0px;
                                line-height: 1.5;
                                border-radius: 5px;
                                width:calc(33% - 4px);height:calc(33% - 4px);
                            }
                            .key-left-null{
                                width: calc(33% - 2px);
                                height: calc(33% - 2px);
                                border: none;
                                background: transparent;
                            }
                            .key-right-x,
                            .key-right-y,
                            .key-right-a,
                            .key-right-b{
                                border-radius: 50%;
                            }
                            .key-right-x{
                                margin: 0px 33%;
                            }
                            .key-right-y{
                                margin-left: 15% 10% 0px 56%;
                            }
                            .key-right-a{
                                margin: 15% 10% 0px 56%;
                            }
                            .key-right-b{
                                margin: 0% 46% 15% 20%;
                            }
                            .key-right-y~.key-right-a{
                                margin:0px 0px 0px 33%;
                            }
                            .key-right-y~.key-right-b{
                                margin: 0px 33%;
                            }
                            @media screen and (max-width:670px){     
                                .key-right-x,
                                .key-right-y,
                                .key-right-a,
                                .key-right-b{
                                    border-radius: 50%;
                                    width: 25%;
                                    height: 25%;
                                }                           
                                .key-right-x{
                                    margin:0px 0px 0px 66%;
                                }
                                .key-right-y{
                                    margin-left:33%;
                                }
                                .key-right-y~.key-right-a{
                                    margin:0px 0px 0px 8%;
                                }
                                .key-left-null,
                                .key-left-left,
                                .key-left-up,
                                .key-left-down,
                                .key-left-right{
                                    width: 25%;
                                    height: 25%;
                                }
                            }
                        }
                        .g-right{
                            .g-dp{
                                left: unset;
                                right: 2vh;
                            }
                        }
                        .key-l{
                            left:1vh;
                            top: 4vh;
                            width:20vh;
                            border-radius: 5px;
                        }
                        .key-r{
                            right: 1vh;
                            top: 4vh;
                            width:20vh;
                            border-radius: 5px;
                        }
                        .key-start{
                            right:10vh;
                            bottom: 1vh;
                            width:20vh;
                            border-radius: 5px;
                        }
                        .key-select{
                            left: 10vh;
                            bottom: 1vh;
                            width:20vh;
                            border-radius: 5px;
                        }
                    }
                }
            }

            .g-game-showtxt {
                position: absolute;
                left: 0;
                right: 0;
                bottom: 0;
                top: 0;
                margin: auto;
                z-index: 10;
                background: #fff;

            }
        }

        .FileUI {
            transition: top .1s, opacity 0s .3s;
            background-color: #fff;
            z-index: 2;

            >.g-file-manager {
                position: absolute;
                left: 0;
                top: 0;
                right: 0;
                bottom: 0;
                overflow: hidden;
                overflow-y: auto;

                >.g-box {
                    margin: 5px;
                    border-radius: .25rem;
                    border: 1px solid #f7e5e5;
                    padding: 5px;

                    span {
                        margin-right: 5px;
                    }

                    >h3 {
                        font-size: 1rem;
                        margin: 0px 0px 10px;
                        position: relative;
                    }

                    >div {
                        font-size: .625rem;
                        margin: 0px 0px 10px;

                    }

                    >ul {
                        padding-left: 25px;
                        margin: 0px 0px 10px;
                        font-size: .625rem;

                        >li {
                            position: relative;
                            padding-right: 50px;
                            border-bottom: 1px dashed #a39595;
                            padding-bottom: 10px;
                            margin-bottom: 10px;
                            word-break: break-all;
                            white-space: pre-wrap;

                            >ul {
                                padding-left: 25px;
                                margin: 0px 0px 10px;

                                >li {

                                    word-break: break-all;
                                    white-space: pre-wrap;

                                }
                            }
                        }
                    }

                }

            }

            >.g-file-upload {
                position: absolute;
                left: 0;
                right: 0;
                bottom: 0;
                top: 0;
                background-color: #fff;
                padding: 2rem;

                >ul {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: stretch;
                    flex-wrap: wrap;
                    align-content: stretch;

                    >li {
                        >.g-btn {
                            font-size: 1.25rem;
                            height: revert;
                            display: inline-block;
                            margin: 4px auto;
                        }

                    }
                }
            }

            >.g-file-editor {
                position: absolute;
                left: .25rem;
                top: .25rem;
                right: .25rem;
                bottom: .25rem;
                border-radius: .25rem;
                display: flex;
                flex-direction: column;
                flex-wrap: nowrap;
                overflow: hidden;
                overflow-y: auto;

                .g-header {

                    position: relative;
                    color: #fff;
                    font-size: .625rem;
                    border-radius: .25rem .25rem 0 0;
                    padding: 10px;
                    word-break: keep-all;
                    white-space: nowrap;
                    background-color: #039bff;
                    background-image: linear-gradient(180deg, #0000004d, #000000b8);

                    >.g-right {
                        right: 10px;
                    }
                }

                .g-body {
                    position: relative;
                    display: flex;
                    flex-direction: column;
                    flex-wrap: nowrap;
                    justify-content: space-between;
                    align-items: stretch;
                    flex-grow: 1;
                    padding: .25rem;
                    font-size: .625rem;

                    .g-title {
                        position: relative;
                        display: flex;
                        justify-content: space-between;
                        flex-wrap: nowrap;
                        align-items: stretch;
                        padding: .25rem;

                        .g-full {
                            flex-grow: 1;
                            margin-right: .25rem;
                        }

                        .g-file-editor-path {
                            width: 100%;
                        }

                        .g-btn {
                            display: block;
                            padding: 3px 8px;
                        }
                    }

                    .g-content {
                        position: relative;
                        flex-grow: 1;

                        .g-file-editor-content {
                            position: absolute;
                            left: .25rem;
                            right: .25rem;
                            top: .25rem;
                            bottom: .25rem;
                            margin: .25rem;
                        }
                    }
                }
            }
        }
    }

}